h1 {
  margin-bottom: 1rem;
  font-size: 2rem !important;
}

.sidebarContainerDiv {
  display: flex;
}

.settingsIcon {
  margin-left: 0.5rem;
}

.css-wmy1p7-ReactDropdownSelect {
  background-color: white !important;
}

main {
  width: 100%;
  padding: 20px;
  background-color: #fafafa;
  height: 100vh;
}
.sidebar {
  background: #222;
  color: #eee;
  height: 100vh;
  width: 15rem;
  position: fixed;
}
.sidebarContent {
  width: 100%;
  margin-left: 15rem;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #eee;
  padding: 10px 15px;
  gap: 15px;
  text-decoration: none;
}
.link:hover {
  background: #434343;
  color: #eee;
  transition: all 0.5s;
}
.active {
  background: #434343;
  color: #eee;
}
.link_text {
  font-size: 20px;
}

.loginButtonDiv {
  position: relative;
  width: 100%;
}

.loginButton {
  float: right;
  background: none;
  border: none;
  margin-right: 1rem;
}

.loginButton:hover {
  cursor: pointer;
  color: #0d6efd;
}

.logoutButtonDiv {
  float: right;
}

.logoutButtonDiv button {
  background: none;
  border: none;
  margin-right: 1rem;
}

.logoutButtonDiv button:hover {
  cursor: pointer;
  color: #0d6efd;
}

.forgotPasswordButton {
  color: #0d6efd;
  margin-top: 1rem;
  border: none;
  background: none;
}

.forgotPasswordButton:hover {
  cursor: pointer;
}

.usernameDiv {
  display: flex;
  justify-content: flex-end;
  min-width: 160px;
}

.settingsDiv {
  position: absolute;
  top: 2rem;
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

.settingsDiv button {
  color: black;
  border: none;
  background: none;
  margin: 0.5rem;
  white-space: nowrap;
}

.settingsDiv button:hover {
  cursor: pointer;
  color: #0d6efd;
}

.errorMessage {
  color: rgb(230, 72, 72);
}

.response-error {
  color: rgb(230, 72, 72);
}

.modal-body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.invalid-email {
  border-color: red !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.passwordDiv {
  position: relative;
}

.passwordDiv button {
  position: absolute;
  top: 24px;
  right: 0;
}

.btn-success {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
}

.submitButton {
  margin-right: 0.5rem;
}
