table {
  border-spacing: 0;
  border: 1px solid black;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

table th,
table td {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td:last-child {
  border-right: 0;
}

td i {
  font-size: 20px;
  margin-inline: 1rem;
}

button {
  border: none;
  outline: none;
  background: none;
}

.redIcon {
  color: rgb(244, 80, 80);
}

.orangeIcon {
  color: orange;
}

.greenIcon {
  color: #14bc26;
}

.yellowGreenIcon {
  color: #a0da07;
}

.editButton {
  color: orange;
  border: none;
  background: none;
}
