.mainDiv {
  padding: 20px;
}

.formDiv {
  margin-top: 20px;
  margin-block: 1rem;
}

.activateAccountButton {
  width: 10rem;
  background: #0655c9 !important;
  margin-top: 1rem;
}

.passwordDivActivation {
  position: relative;
  width: 20rem;
}

.passwordDivActivation button {
  position: absolute;
  top: 24px;
  right: 0;
}
